<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinlongfeng.mapper.ISysModelMapper">
	<select id="getChildList" resultType="sysModel">
		select * from sys_model where parent_id = #{parentId}
	</select>
	<select id="getFunByModelIdList" resultType="sysFunction">
		select * from sys_function where id in
		(select fun_id from model_fun where model_id = #{modelId})
	</select>
</mapper>